.custom-wrapper{
    background-color: rgb(162, 207, 236);
}

#custom-class-user-information-element{
    display: none;
}
#custom-class-group-information-element{
    display: none;
}
#custom-class-settings-element{
    display: none;
}
#custom-class-all-user-information-element{
    display: none;
}
#custom-class-all-groups-information-element{
    display: none;
}
#custom-class-application-managment-element{
    display: none;
}
#custom-class-layout-element{
    display: none;
}

#custom_class_task_update_element{
    display: none;
}

#custom_class_new_user_information_element{
    display: none;
}

#custom_class_update_element{
    display: none;
    background-color: rgba(104, 102, 102, 0.9); /* 0.5 makes it 50% transparent */
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1100;
    position: fixed;
}
#custom_class_update_form{
    display: none;
    position: fixed;
    z-index: 1200;
    width: 80%;
    left: 0;
    right: 0;
}

/* Tasks */

.col-task-id {
    width: 5%;
  }
  
.col-task {
    width: 52%;
  }
  
.col-assignee {
    width: 15%;
  }
  
.col-status {
    width: 13%;
  }
  
.col-actions {
    width: 20%;
    text-align: center;
  }


/* Users */

.col-user-id {
    width: 10%;
  }
  
.col-user-firstname {
    width: 15%;
  }
  
.col-user-lastname {
    width: 15%;
  }
  
.col-user-email {
    width: 45%;
  }
  
.col-user-actions {
    width: 15%;
    text-align: center;
  }
#user_update_button_area{
    display: none;
}

.dropdown-menu {
    width: 400px;
    display: none;
    cursor: pointer;
}

.btn-group:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.input-group-text {
    width: 150px;
    text-align: center; 
}

#error_message_task_add{
    display: none;
    color: rgb(238, 0, 0);

}

