.main-content-setting-common {
    display: none;
    margin-left: 340px; /* Space for the side menu and its left margin */
    margin-top: 90px; /* Adjusted space for the top menu including its margins */
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.main-content-settings-user-management, .main-content-settings-group-management, .main-content-settings-application-configuration {
    display: none;
    top: 80px; /* Space below the top menu */
    left: 340px; /* Adjusted space from the left edge to avoid overlapping side-menu */
    right: 20px; /* Margin from the right edge */
    background-color: #1f1f1f; /* Background color to match the side and top menu */
    padding: 15px; /* Add padding for better spacing */
    border-radius: 12px; /* Rounded corners to match the theme */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Space between elements */
}